[/]
tools.staticdir.root = "/toast"

[/resources]
tools.staticdir.on = True
tools.staticdir.dir = "resources"

[/favicon.ico]
tools.staticfile.on = True
tools.staticfile.filename = "/toast/resources/favicon.png"

[/api]
tools.response_headers.on = True
tools.response_headers.headers = [('Expires', 'Sun, 19 Nov 1985 05:00:00 GMT'), ('Cache-Control', 'no-store, no-cache, must-revalidate, post-check=0, pre-check=0'), ('Pragma', 'no-cache')]

[/tests.html]
tools.staticfile.on = True
tools.staticfile.filename = "/toast/views/tests.html"
tools.response_headers.on = True
tools.response_headers.headers = [('Expires', 'Sun, 19 Nov 1985 05:00:00 GMT'), ('Cache-Control', 'no-store, no-cache, must-revalidate, post-check=0, pre-check=0'), ('Pragma', 'no-cache')]